name = "adele-api"
main = "worker/index.ts"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]

routes = [
  { pattern = "adele-api.ayonix.com/*", zone_name = "ayonix.com" }
]

# Bindings
[[d1_databases]]
binding = "DB"
database_name = "adele-db"
database_id = "64b70c93-f239-4e17-96ad-5cf8ce48d276"

[[r2_buckets]]
binding = "STORAGE"
bucket_name = "adele-storage"

[[kv_namespaces]]
binding = "SESSIONS"
id = "fbc99b9642da4697b0491ec646481bca"

[vars]
ENVIRONMENT = "production"
APP_URL = "https://adele.ayonix.com"
API_URL = "https://adele-api.ayonix.com"

[dev]
port = 8787
local_protocol = "http"

